{% extends 'base.html' %}

{% block content %}
    <h2>Notes</h2>
    <a href="{{ url_for('add_note') }}" class="btn btn-primary">Add New Note</a>
    <ul class="list-group mt-3">
        {% for note in notes %}
            <li class="list-group-item">
                <h5>{{ note.title }}</h5>
                <p>{{ note.content }}</p>
                <a href="{{ url_for('edit_note', id=note.id) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('delete_note', id=note.id) }}" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
